.footer {
    display: flex;
    justify-content: space-between;
    height: 14px;
    padding: 2em;
    background-color: #805b46;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer>div {
    text-align: center;
}

.footer .social {
    font-size: 2rem;
}

.footer .social {
    font-size: 2rem;
}
