.site-header {
    display: flex;
}

.title,
.logo {
    padding: 1em 1em 1em 0;
    flex-direction: column;
    max-width: 67%;
    display: inline-flex;
    margin-bottom: 1em;  
}

.logo>a>img {
    width: 276px;
    max-width: 276px;
}

.title * {
    color: #fff;
}

.title p {
    font-style: italic;
}



.header .nav {
    flex-direction: row;
}

.nav li {
    border-style: solid;
    //background-color: #8a4230;
    margin-top: 0;
}

.nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav a {
    //color: #333;
    text-decoration: none;
    padding: 0.1em;
}
