.site-header {
    // display: flex;
    height: 399px;
}

.title,
.logo {
    padding: 2em 2em 2em 0;
    flex-direction: column;
    max-width: 67%;
    display: inline-flex;
}

.logo>a>img {
    width: 276px;
    max-width: 276px;
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}



.header .nav {
    flex-direction: row;
}

.nav li {
    border-style: solid;
    background-color: #c4b0af;
    margin-top: 0;
}

.nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav a {
    background-color: #c4b0af;
    color: #000;
    text-decoration: none;
    padding: 0.1em;
}
