.site-header {
    // display: flex;
    height: 300px;
}

.title,
.logo {
    padding: 1em 1em 1em 0;
    flex-direction: column;
    max-width: 67%;
    display: inline-flex;
}

.logo>a>img {
    width: 276px;
    max-width: 276px;
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}



.header .nav {
    flex-direction: row;
}

.nav li {
    //border-style: solid;
    //background-color: #c4b0af;
    background-color: #222;
    margin-top: 0;
}

.nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav a {
    //background-color: #c4b0af;
    display: block;
    color: #fff;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
}
