$background-color: #fff3e2ea;
$background-alternative-color: #e0fbfc;
$accent-color: #ee6c4d;
$font-alternative-color: #fff;
$font-color: #333;
$footer-background-color: #338f85;
$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
